%rss{ "version" => "2.0", "xmlns:atom" => "http://www.w3.org/2005/Atom" }
  %channel
    %title Zero Punctuation
    %link http://zerop.heroku.com
    %description Zero Punctuation episodes by Ben Yahtzee Croshaw
    <atom:link href="#{request.url}" rel="self" type="application/rss+xml" />
    - episodes.each do |episode|
      %item
        %title= episode.title
        %link http://zerop.heroku.com/v/#{episode.id}
        %guid /v/#{episode.id}
        %pubDate= episode.time.rfc822
